header#header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width:100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  margin-inline-start: 0;
  margin-inline-end: 0%;
  background-color: #ffa200;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding: 10px;
}

.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  width: fit-content;
  max-height: 150px;
}

.profileName {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
@media screen and (min-width: 700px) {
  header#header {
    width: 240%;
    margin-top: 240px;
  }
}

@media screen and (max-width: 600px) {
  header#header {
    width: 100%;
    position: relative;
  }
  .profileName {
    font-size: smaller;
  }
}