.humming {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  color: #545149;
  font-weight: bolder;
  margin: 50px;;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.ComposeTweet {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4em;
  color: #545149;
  font-weight: bolder;
  margin: 50px;;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  display: flex;
  width: 100%;

}

.tweetForm {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 100%;
}

.tweetButton {
display: flex;
justify-content: space-between;
font-size: 1em;
font-family: "Bungee", cursive;
color: white;
background-color: #4056A1;
margin: 20px;
}

.output {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-size: 1em;
  font-family: "Bungee", cursive;
  color: #545149;
  font-weight: bolder;
  margin: 20px;
}

#tweet-text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid; 
  border-bottom-width: thick;
  border-bottom-color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  background-color: #f4f1ec;
  justify-content: center;
}

.error-message-box {
  display: flex;
  border: 3px solid red;
  color: red;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: -10px;
  font-size: 20px;
  font-family: sans-serif;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.fa-exclamation-triangle {
margin-left: 5px;
margin-right: 5px;
}

@media screen and (max-width: 700px) {
  article.tweet {
    max-width: 100%;
    float: none;

  }
}

